.main {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    margin: 30px;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    width: 100%;
    left: 0;
    top: 0;
}

.product-desc {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

    .product-desc h2 {
        font-weight: 300;
        font-size: 52px;
        color: #43484D;
        letter-spacing: -2px;
    }

    .product-desc p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }

.product-price {
    align-items: center;
}

    .product-price p {
        font-size: 20px;
        font-weight: 300;
        color: #43474D;
        margin-right: 20px;
    }

.submit-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #64af3d;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

        .left-column img {
            width: 300px;
            right: 0;
            top: -65px;
            left: initial;
        }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}