* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: white;
}

header {
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    padding: 1rem 4rem;
    margin-bottom: 1rem;
}

img {
    max-width: 500px;
}

h1 {
    font-weight: normal;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding-left: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.login {
    margin-left: 20px;
}

.checkout {
    padding: 10px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
}

.container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.head-title {
    font-family: Limelight, sans-serif;
    font-size: 2.5rem;
}

.container.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.container-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
}

.container-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-img img {
    width: 100%;
    height: auto;
}


.container-card span {
    font-weight: bold;
}

.container-card a {
    display: inline-block;
}

.card-body {
    padding: 15px;
    height: 100%;
}

.card-title {
    font-weight: normal;
    margin-bottom: 10px;
}

.card-desc {
    margin-bottom: 20px;
}

.bot-info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

button {
    cursor: pointer;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

    .product-info h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .product-info img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.order-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quantity-section {
    margin-bottom: 15px;
}

.quantity-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.quantity-input {
    width: 100px;
    padding: 8px;
    margin-bottom: 10px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: #0056b3;
    }

.delete button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

    .delete button:hover {
        background-color: darkred;
    }

button {
    padding: 10px 20px;
    background-color: #078507;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

select {
    padding: 10px 20px;
    margin: 10px;
}

input {
    padding: 10px 20px;
    margin: 10px;
}

container back-btn {
    margin: 10px;
}

.item img {
    width: 300px;
    height: auto;
    display: block;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-btn {
    text-align: center; 
}

.search-btn {
    margin: 7px;
}

@media (max-width: 1300px) {
    .container.products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container.back-btn button {
        margin: 10px;
    }
}

@media (max-width: 960px) {
    .container.products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .container.products {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container form {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .container.back-btn {
        margin: 0 auto;
        text-align: center;
    }

    .login {
        margin: 0 auto;
        text-align: center;
    }

    nav.container {
        flex-direction: column;
        align-items: center;
    }

        nav.container ul {
            flex-direction: column;
            align-items: center;
            margin: 0 auto; /* Adjust as needed for spacing */
        }

            nav.container ul li {
                margin-bottom: 10px; /* Adjust as needed for spacing */
            }

}




