@page
@model Webbshop.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Item added";
    var confirmation = TempData["Confirmation"] as string;
}
<div class="container" style="margin-top: 10px">
    <p>@confirmation</p>
    <p>Total cost: @Model.TotalCost.ToString("c")</p>
    
</div>
