@page
@model IndexModel
@inject Webbshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<div class="container">
    <div>
        <h1>Welcome, @accessControl.GetLoggedInAccountName()!</h1>
        <div style="margin-top: 20px">
            <a style="margin-right: 20px" asp-page="/Search"><button>Search for a product</button></a>
            <a asp-page="/Checkout"><button>View cart</button></a>
        </div>
    </div>
</div>
