@page "{id:int}"
@model Webbshop.Pages.OrderModel
@{
	ViewData["Title"] = "Place your order";
}
<div class="container">
    <div class="product-details">
        <div class="product-info">
            <h2>@Model.Product.Name</h2>
            <img src="/images/products/@Model.Product.ImageName" alt="@Model.Product.Name" />
            <p>@Model.Product.Description</p>
        </div>
        <form class="order-form" method="post">
            <div class="quantity-section">
                <label for="quantity" class="quantity-label">Quantity:</label>
                <input type="number" id="quantity" name="quantity" class="quantity-input" min="1" value="1" required />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="price-section">
                <p>Unit Cost: <span>@(Model.Product.Price.ToString("c"))</span></p>
            </div>
            <button type="submit" class="submit-btn">Place Order</button>
        </form>
    </div>
</div>
