@page "{id:int}"
@model Webbshop.Pages.OrderModel
@{
    ViewData["Title"] = "Place your order";
}
<head>
    <link rel="stylesheet" href="/css/order.css" />
</head>
<div class="main">
    <div class="container">
        <div class="left-column">
            <img class="" src="/images/products/@Model.Product.ImageName" title="@Model.Product.Name" />
        </div>

        <div class="right-column">
            <div class="product-desc">
                <h2>@Model.Product.Name</h2>
                <p>@Model.Product.Description</p>
            </div>

            <form class="order-form" method="post">
                <div class="product-price">
                    <label asp-for="Quantity" class="quantity-label"></label>
                    <input asp-for="Quantity" class="quantity-input" type="number" min="1" />
                    <span asp-validation-for="Quantity"></span>
                    <p>Unit cost: @(Model.Product.Price.ToString("c"))</p>
                    <button type="submit" class="submit-btn">Place order</button>
                </div>
            </form>
        </div>

    </div>
</div>


