@page
@model Webbshop.Pages.SearchModel
@{
}

<div class="container">
    <form style="display: flex;">
        <div>
            <input class="" />
        </div>
        <div>
            <label for="filter">Filter:</label>
            <select id="filter">
                <option value="">All</option>
                <option value="Kläder">Kläder</option>
                <option value="Accessoarer">Accessoarer</option>
                <option value="Mat och dryck">Mat och dryck</option>
                <option value="Elektronik">Elektronik</option>
                <option value="Hem och trädgård">Hem och trädgård</option>
                <option value="Sport och fritid">Sport och fritid</option>
                <option value="Utomhus">Utomhus</option>
            </select>
        </div>
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>
